* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #e6f5ff;

    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: #00529B;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 30px;
}

nav ul li {
    list-style: none;
}

nav ul a {
    text-decoration: none;
    color: #00B470;
    transition: color 0.3s ease;
    font-size: 1.25rem;
    font-weight: 100
}

nav ul a:hover {
    color: #FFFFFF;
}

.left {
    color: #00B470;
    font-size: 2rem;
    font-weight: 600;
}

.register {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #003366;
    padding: 20px;
    max-width: 1000px;
    margin: auto;
    border-radius: 8px;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 10px;
}

form {
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

form h2 {
    display: flex;
    justify-content: center;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.form-group label {
    width: 150px;
    font-weight: bold;
    color: #003366;
}

.form-group input {
    flex: 1;
    padding: 8px;
    border: 1px solid #003366;
    border-radius: 6px;
}

.btns {
    display: flex;
    justify-content: center;
    align-items: center;
}

.register .submitbtn {
    border: 2px solid #003366;
    background-color: #00B470;
    color: #00529B;
    font-family: 'Poppins', sans-serif;
    height: 35px;
    width: 100px;
    font-size: 1rem;
    transition: transform 0.2s ease;
    cursor: pointer;
    border-radius: 6px;

}

.submitbtn:hover {
    transform: scale(1.05);
}