<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style4.css') }}">
    <title>Dashboard</title>
</head>

<body>
    <header>
        <nav>
            <div class="nav-center">MEDI-TRACK DASHBOARD</div>
            <div class="right">
                <ul>
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <div class="mainbox">
            <div class="box1">
                <a href="{{ url_for('add_stock') }}">ADD_STOCK</a>
            </div>
            <div class="box1">
                <a href="{{ url_for('display_stock') }}">VIEW STOCK</a>
            </div>
            <div class="box1">
                UPDATE STOCK
            </div>
            <div class="box1">
                DELETE STOCK
            </div>
        </div>
    </main>
</body>

</html>