<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style4.css">
    <title>Dashboard</title>
</head>

<body>
    <header>
        <nav>
            <div class="nav-center">MEDI-TRACK DASHBOARD</div>
        </nav>
    </header>
    <main>
        <div class="mainbox">
            <div class="box1">
                ENTER STOCK
            </div>
            <div class="box1">
                VIEW STOCK
            </div>
            <div class="box1">
                UPDATE STOCK
            </div>
            <div class="box1">
                DELETE STOCK
            </div>
        </div>
    </main>
</body>

</html>