<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login/Register</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <header>
        <nav>
            <div class="left">MEDI-TRACK</div>
            <div class="right">
                 <ul>
                    <li><a href="{{ url_for('index') }}">Home</a></li>
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                    <li><a href="{{ url_for('about_us') }}">About Us</a></li>
                    <li><a href="{{ url_for('contact') }}">Contact</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <div class="flash-area" style="text-align: center; margin-top: 20px;">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="alert alert-{{ category }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
        </div>
        
        <div class="loginbox">
            <form method="POST" , action="{{ url_for('login') }}">
                <h2>Medi-Track Login</h2>

                <div class="form-group">
                    <label for="name">Enter UserName:</label>
                    <input type="text" id="username" name="username" placeholder="UserName" required>
                </div>
                <!--
                <div class="form-group">
                    <label for="email">Enter Email:</label>
                    <input type="email" id="email" name="email" placeholder="owner@example.com" required>
                </div>-->

                <div class="form-group">
                    <label for="password">Enter Password:</label>
                    <input type="password" id="password" name="password" placeholder="********" required>
                </div>

                <div class="btns">
                   
                        <button type="submit" class="submitbtn">Login</button>
                    
                    <button type="reset" class="submitbtn">Reset</button>
                </div>

                <a href="{{ url_for('register') }}">New User? Register</a>
            </form>
        </div>


    </main>
</body>

</html>